<div style="margin-bottom: 10px">
    <button (click)="insertNewRow()">Insert New Row</button>
    <button (click)="deleteSelectedRows()" [disabled]="!rowsSelected()">Delete Selected Row</button>
</div>
<div>
    <ag-grid-angular style="width: 100%; height: 500px;"
                     class="ag-fresh"

                     [columnDefs]="columnDefs"
                     [rowData]="rowData"

                     rowSelection="single"

                     (gridReady)="onGridReady($event)"
                     (cellValueChanged)="onCellValueChanged($event)">
    </ag-grid-angular>
</div>

<ng-template [ngIf]="showEditScreen">
    <app-athlete-edit-screen (onAthleteSaved)="onAthleteSaved($event)"></app-athlete-edit-screen>
</ng-template>
